<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.music.mapper.IMyMusicInfoMapper">
	<!-- 查询我喜欢的音乐 -->
	<select id="findLike" parameterType="MusicInfo" resultType="MusicInfo">
		SELECT m.mid, m.mname,s.sgname ,l.lname FROM singerinfo s , musicinfo m , userlist l , usermusic u WHERE 
		m.status = 1 AND s.sgid = m.sgid AND m.mid = u.mid and u.lid = l.lid;
	</select>
	
	<!-- 根据用户id刹删除我喜欢的音乐 -->
	<delete id="deleteMusic" parameterType="int"  >
		delete from musicinfo where mid=#{mid};
	</delete>
	
	<!-- 查询歌单信息 -->
	<select id="findSongList" parameterType="UserListInfo" resultType="UserListInfo">
		SELECT ul.lid,lname, ( SELECT COUNT(um.lid) FROM usermusic um WHERE ul.lid = um.lid) num ,ui.uname,ul.by2 FROM 
			userlist ul,userinfo ui WHERE  ul.uid = ui.uid and ul.uid = #{_parameter};
	</select>
	
	<!-- 根据歌单id删除歌单 -->
	<delete id="deleteGedan" parameterType="int">
		delete from userlist where lid=#{_parameter};
	</delete>
	
</mapper>