<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.music.mapper.IMyMusicInfoMapper">

	<select id="findLike" parameterType="MusicInfo" resultType="MusicInfo">
		SELECT m.mid, m.mname,s.sgname ,l.lname FROM singerinfo s , musicinfo m , userlist l , usermusic u WHERE 
		m.status = 1 AND s.sgid = m.sgid AND m.mid = u.mid and u.lid = l.lid
	</select>
	
	<delete id="deleteMusic" parameterType="int"  >
		delete from musicinfo where mid=#{mid}
	</delete>
	
	<select id="findSongList" parameterType="UserListInfo" resultType="UserListInfo">
		SELECT ul.lid,lname,COUNT(um.lid) num,ui.uname,ul.by2 FROM 
			userlist ul,usermusic um,userinfo ui WHERE ul.lid = um.lid and ul.uid = ui.uid and uid=#{uid}
	</select>
	
</mapper>