<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yc.music.mapper.IUserListMapper">
	<!-- 歌单推荐类型 -->
	<select id="oodType" resultType="SongTypeInfo">
		select sid, atid, stype from songtype order by rand() limit 5
	</select>
	
	<!-- 最新歌单 -->
	<select id="newOdd" resultType="UserListInfo">
		select lid, lname, l.by1, l.by2, l.by3, u.uname from userlist l, userinfo u where l.uid=u.uid ORDER BY lid DESC
	</select>
</mapper>